page-daily-report {
  ion-alert div[class="alert-radio-label"]{
    white-space: pre-line !important;
  }
  .likely-label {
    color: #488aff;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  textarea {
    height: 50vh;
    box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
  }
}
