<!--
  Generated template for the DreamSourcePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      DS
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="ひっぱって更新" refreshingText="更新中...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- START:タブメニュー-->
  <div class="tabmenu" #tabmenu ion-fixed>
    <div class="tabmenu-items" *ngFor="let segment of segments;let idx = index;">
      <div class="tabmenu-bt">
        <button [ngClass]="{'active':idx==activeIndex}" ion-button (click)="change(idx)" clear>{{segment.name}}</button>
      </div>
    </div>
  </div>
  <!-- END:タブメニュー-->
  <!-- START:リスト-->
  <ion-slides (ionSlideWillChange)="onSlideChangeStart()" class="tabmenu-slides" #Slides>
    <ion-slide *ngFor="let segment of segments">
      <ion-list>
        <div class="white-space-prewrap" *ngFor="let item of segment.items">{{item}}</div>
      </ion-list>
    </ion-slide>
  </ion-slides>
  <!-- END:リスト-->
</ion-content>